<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "SpecCreator/base-spec-2col.html" %}
{% block title %}
    Create Specification - Save
{% endblock title %}
{% block right_column %}
    <div x-data="{filename: '{{ slugged_short_name }}_spec.toml' }">
        <h2>Test created!</h2>
        <div>
            <p>Once saved, upload the specfile to the PLOM manager client.</p>
            <label for="write-filename" class="form-label">Filename</label>
            <input type="text"
                   class="form-control"
                   id="write-filename"
                   x-bind:value="filename"
                   x-model="filename">
            <a type="button"
               class="btn btn-primary btn-lg"
               href="{% url 'generate_spec' %}"
               x-bind:download="filename">Save specfile</a>
        </div>
        <div style="margin-top: 25px;">
            <a class="btn btn-primary btn-lg" href="{% url 'prep_landing' %}">Return to test creator</a>
        </div>
    </div>
{% endblock right_column %}
