<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "SpecCreator/base-spec-2col.html" %}
{% block title %}
    Create specification
{% endblock title %}
{% block right_column %}
    <div class="w-100 h-100">
        <div class="h-100">
            <strong>What is a test specification?</strong>
            <p>Information that Plom needs about the structure of your test. Better help text to come.</p>
        </div>
        <a type="button"
           class="btn btn-primary btn-lg float-end"
           href="{% url 'names' %}">Next</a>
    </div>
{% endblock right_column %}
