<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Julian Lapenna
-->
{% extends "base/base.html" %}
{% load static %}
{% load custom_tags %}
{% block page_heading %}
    Student Marks
{% endblock page_heading %}
{% block main_content %}
    {% comment %} Table {% endcomment %}
    <div>
        <table style="width: auto"
               class="table table-striped table-bordered sortable">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    {% for i in n_questions %}<th scope="col">Question {{ i }}</th>{% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for p_key, p_val in papers.items %}
                    <tr>
                        <td>{{ p_key }}</td>
                        {% if not p_val %}
                            {% comment %}None{% endcomment %}
                            {% for i in n_questions %}<td>None</td>{% endfor %}
                        {% elif p_val|length == n_questions|length %}
                            {% comment %}Fully graded{% endcomment %}
                            {% for q_key, q_val in p_val.items %}<td>{{ q_val.student_mark }}</td>{% endfor %}
                        {% else %}
                            {% comment %}Partially graded{% endcomment %}
                            {% for i in n_questions %}
                                <td>
                                    {% with p_val|get_item:i as dict %}
                                        {% if dict %}
                                            {{ dict.student_mark }}
                                        {% else %}
                                            None
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
{% endblock main_content %}