{% extends 'base/base.html' %}
{% block page_heading %}Prepare assessment{% endblock %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a type="button" class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        <div class="card" style="max-height: 85%;">
            <div class="card-body">
                <h3 class="card-title">Classlist</h3>
                <div style="overflow: auto; max-height: 75%;">
                    <table class="table table-striped">
                        <thead>
                            <th>Student ID</th>
                            <th>Student Name</th>
                            <th>
                                Paper-number
                                {% if prenaming %}
                                    (used if assigned &mdash; prenaming enabled)
                                {% else %}
                                    (ignored &mdash; prenaming disabled)
                                {% endif %}
                            </th>
                        </thead>
                        {% for row in student_list %}
                            <tr>
                                <td>{{ row.student_id }}</td>
                                <td>{{ row.student_name }}</td>
                                <td>
                                    {% if row.paper_number %}
                                        {{ row.paper_number }}
                                    {% else %}
                                        ●
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
