<!-- Copyright (C) 2022 Andrew Rechnitzer -->
<!-- Copyright (C) 2023 Colin B. Macdonald -->
{% extends "base/base.html" %}
{% block page_heading %}Manage classlist{% endblock %}
{% block main_content %}
    {% if success %}
        {% if warn_err %}
            <div class="alert alert-info">
                <span>Classlist csv uploaded successfully, but with warnings</span>
                <span>
                    <button class="btn btn-primary"
                            hx-delete="."
                            hx-target="body"
                            hx-swap="outerHTML">discard (recommended)</button>
                    <button class="btn btn-warning"
                            hx-put="."
                            hx-confirm="There are warnings; are you sure you wish to proceed?"
                            hx-target="body"
                            hx-swap="outerHTML">use (at your peril)</button>
                </span>
            </div>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                            <th>Warning or Error</th>
                            <th>Line</th>
                            <th>Message</th>
                        </thead>
                        {% for werr in warn_err %}
                            <tr>
                                <td>{{ werr.warn_or_err }}</td>
                                <td>{{ werr.werr_line }}</td>
                                <td>{{ werr.werr_text }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        {% else %}
            <div class="alert alert-primary">
                <span>Classlist csv uploaded successfully without errors</span>
                <span>
                    <button class="btn btn-info"
                            hx-put="."
                            hx-confirm="Are you sure?"
                            hx-target="body"
                            hx-swap="outerHTML">use</button>
                    <button class="btn btn-warning"
                            hx-delete="."
                            hx-target="body"
                            hx-swap="outerHTML">discard</button>
                </span>
            </div>
        {% endif %}
    {% else %}
        <div class="alert alert-danger">Upload failed due to errors:</div>
        <span>
            <button class="btn btn-danger"
                    hx-delete="."
                    hx-target="body"
                    hx-swap="outerHTML">discard (and upload another)</button>
        </span>
        <table class="table table-striped">
            <thead>
                <th>Warning or Error</th>
                <th>Line</th>
                <th>Message</th>
            </thead>
            {% for werr in warn_err %}
                <tr>
                    <td>{{ werr.warn_or_err }}</td>
                    <td>{{ werr.werr_line }}</td>
                    <td>{{ werr.werr_text }}</td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
