<!-- Copyright (C) 2022 Andrew Rechnitzer -->
<!-- Copyright (C) 2023 Colin B. Macdonald -->
{% extends "base/base.html" %}
{% block page_heading %}Question-version mapping upload{% endblock %}
{% block main_content %}
    <div class="alert alert-primary">
        <span>Question-version mapping csv uploaded successfully without errors</span>
        <span>
            <button class="btn btn-info"
                    hx-put="."
                    hx-confirm="Are you sure?"
                    hx-target="body"
                    hx-swap="outerHTML">use</button>
            <button class="btn btn-warning"
                    hx-delete="."
                    hx-target="body"
                    hx-swap="outerHTML">discard</button>
        </span>
    </div>
    <div class="alert alert-danger">Upload failed due to errors:</div>
    <span>
        <button class="btn btn-danger"
                hx-delete="."
                hx-target="body"
                hx-swap="outerHTML">discard (and upload another)</button>
    </span>
    <table class="table table-striped">
        <thead>
            <th>Line</th>
            <th>Message</th>
        </thead>
        {% for err in errors %}
            <tr>
                <td>{{ err.err_line }}</td>
                <td>{{ err.err_text }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
