{% extends 'base/base.html' %}
{% block page_heading %}Prepare assessment{% endblock %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a type="button" class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        <div class="card" style="max-height:45%;">
            <div class="card-body">
                <h3 class="card-title">Question-version map</h3>
                <div style="overflow: auto; max-height:40%;">
                    <table class="table table-striped">
                        <thead>
                            <th>Paper number</th>
                            {% if prenaming %}<th>Prename ID (if assigned)</th>{% endif %}
                            {% for q in question_list %}<th>Question {{ q }}</th>{% endfor %}
                        </thead>
                        <tbody>
                            {% for paper_number, info in pqv_table.items %}
                                <tr>
                                    <td>{{ paper_number }}</td>
                                    {% if prenaming %}
                                        <td>
                                            {% if info.prename %}
                                                {{ info.prename.0 }}: {{ info.prename.1 }}
                                            {% else %}
                                                ●
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    {% for x in info.qvlist %}<td>{{ x }}</td>{% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
