{% extends "base/base.html" %}
{% block page_heading %}Manage number of papers and question-version mapping{% endblock %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        {% if student_list_present %}
            <div class="alert alert-warning">
                <p>Student list present, contains {{ number_of_students }} entries</p>
                {% if prenaming %}
                    <p>First, last prenamed papers = {{ first_prenamed_paper }}, {{ last_prenamed_paper }}</p>
                {% else %}
                    <p>Prenaming disabled</p>
                {% endif %}
            </div>
        {% endif %}
        {% if pqv_mapping_present %}
            <div class="alert alert-primary">
                <span>Question-version mapping present with {{ pqv_number_rows }} papers:</span>
                <a href="download" target="_blank" class="btn btn-info">download</a>
                <button class="btn btn-danger"
                        hx-delete="delete"
                        hx-confirm="Are you sure you want to delete the question-version map?"
                        hx-target="body"
                        hx-swap="outerHTML">delete question-version map</button>
            </div>
            <div class="border p-2" style="overflow: auto; max-height:40%;">
                <table class="table table-striped">
                    <thead>
                        <th>Paper number</th>
                        {% if prenaming %}<th>Prename ID (if assigned)</th>{% endif %}
                        {% for q in question_list %}<th>Question {{ q }}</th>{% endfor %}
                    </thead>
                    <tbody>
                        {% for paper_number, info in pqv_table.items %}
                            <tr>
                                <td>{{ paper_number }}</td>
                                {% if prenaming %}
                                    <td>
                                        {% if info.prename %}
                                            {{ info.prename.0 }}: {{ info.prename.1 }}
                                        {% else %}
                                            ●
                                        {% endif %}
                                    </td>
                                {% endif %}
                                {% for x in info.qvlist %}<td>{{ x }}</td>{% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Generate question-version map</h4>
                    <div class="card-text">
                        {% if student_list_present %}
                            <p>
                                <ul>
                                    <li>Student list present, contains {{ number_of_students }} entries</li>
                                    {% if prenaming %}
                                        <li>Last prenamed paper = {{ last_prenamed_paper }}</li>
                                    {% else %}
                                        <li>No prenaming</li>
                                    {% endif %}
                                </ul>
                                <details>
                                    <summary>Suggested minimum number of papers to produce = {{ min_number_to_produce }}</summary>
                                    <ul>
                                        <li>
                                            We recommend that you produce the maximum of the following numbers
                                            <ul>
                                                <li>110% of the number of students in your classlist</li>
                                                <li>the number of students in your classlist plus 20</li>
                                                <li>the paper-number of the last prenamed paper plus 10</li>
                                            </ul>
                                        </li>
                                        <li>
                                            You do not have to print all of the resulting
                                            papers. Rather, this ensures that you will have plenty
                                            of spare papers <em>if you need them</em>
                                        </li>
                                    </ul>
                                </details>
                            </p>
                        {% else %}
                            <p>
                                No student list present
                                <details>
                                    <summary>Suggested minimum number of papers to produce = {{ min_number_to_produce }}</summary>
                                    <ul>
                                        <li>When you do not supply a classlist, this defaults to 20.</li>
                                        <li>
                                            However, we recommend that you produce the maximum of the following numbers
                                            <ul>
                                                <li>110% of the number of students in your class</li>
                                                <li>the number of students in your class plus 20</li>
                                            </ul>
                                        </li>
                                        <li>
                                            You do not have to print all of the resulting
                                            papers. Rather, this ensures that you will have plenty
                                            of spare papers <em>if you need them</em>
                                        </li>
                                    </ul>
                                </details>
                            </p>
                        {% endif %}
                        <div class="card-text">
                            <form enctype="multipart/form-data"
                                  id="form"
                                  method="post"
                                  action="{% url 'prep_qvmapping' %}">
                                {% csrf_token %}
                                <label for="inp_ntp">Number to produce</label>
                                <input id="inp_ntp"
                                       class="form-input"
                                       type="number"
                                       name="number_to_produce"
                                       min="{{ min_number_to_produce }}"
                                       value="{{ min_number_to_produce }}"
                                       max="9999"
                                       required />
                                <button class="btn btn-primary" type="submit">build qv-map</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <hr class="border border-danger border-2" />
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Upload a question-version map (advanced)</h4>
                <div class="card-text">
                    <h5>
                        <i class="bi bi-x-octagon-fill text-danger"></i> NOT IMPLEMENTED <i class="bi bi-x-octagon-fill text-danger"></i>
                    </h5>
                    <p>
                        <details>
                            <summary>
                                You can also upload a csv-file containing a question-version map. This is not recommended unless you really know what you are doing.
                            </summary>
                            <ul>
                                <li>
                                    The file must contain
                                    <ul>
                                        <li>a "test_number" column &mdash; this is legacy term which will become "paper_number" in the future</li>
                                        <li>
                                            {{ number_of_questions }} columns with headers "q{{ question_list|first }}.version", &hellip; and "q{{ question_list|last }}.version"
                                        </li>
                                        <li>it must contain at least {{ min_number_to_produce }} consecutive entries starting from "paper_number" 1</li>
                                    </ul>
                                </li>
                            </ul>
                        </details>
                    </p>
                    <form enctype="multipart/form-data"
                          id="form"
                          method="post"
                          action="{% url 'prep_qvmapping_upload' %}">
                        {% csrf_token %}
                        <div>
                            <input type="file" accepts=".csv" name="pqvmap_csv" required disabled />
                            <button class="btn btn-primary" type="submit" disabled>upload</button>
                        </div>
                    </form>
                    <h5>
                        <i class="bi bi-x-octagon-fill text-danger"></i> NOT IMPLEMENTED (sorry Omer) <i class="bi bi-x-octagon-fill text-danger"></i>
                    </h5>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
