{% extends "base/base.html" %}
{% block page_heading %}Manage test source versions{% endblock %}
{% block main_content %}
    <div class="card">
        <div class="card-body">
            {% if success %}
                <h4 class="card-title">Source PDF version {{ version }} uploaded successfully</h4>
            {% else %}
                <h4 class="card-title">Source PDF version {{ version }} upload failed</h4>
                <p class="card-text">{{ message }}</p>
            {% endif %}
            <a href="{% url 'prep_sources' %}" class="btn btn-primary card-link">return</a>
        </div>
    </div>
{% endblock %}
