{% extends "base/base.html" %}
{% block title %}Web Plom - Create papers{% endblock %}
{% block page_heading %}Create test papers{% endblock %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div>
            <a class="btn btn-primary" href="{% url 'prep_landing' %}">Return to assessment preparation page</a>
        </div>
        <div class="card w-50">
            {% if is_populated %}
                <div class="card-body">
                    <h5 class="card-title">Papers created.</h5>
                    <p class="card-text">Ready to build test paper PDFs.</p>
                    <a class="btn btn-danger" hx-delete="{% url 'create_papers' %}">DEBUG: delete from DB</a>
                </div>
            {% else %}
                <div class="card-body">
                    <h5 class="card-title">Ready to create papers</h5>
                    <p class="card-text">The test will have:</p>
                    <ul>
                        <li>{{ n_papers }} test papers</li>
                        <li>{{ n_questions }} questions</li>
                        <li>{{ n_versions }} versions</li>
                        <li>{{ n_pages }} pages</li>
                    </ul>
                    <div id="progress_container">
                        <a class="btn btn-primary"
                           hx-post="{% url 'create_papers' %}"
                           hx-target="#progress_container">Create</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
