<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
<div class="card-body">
    <a href="{% url 'scan_manage_bundle' timestamp pg.order %}">
        <div style="height: 16vh;
                    width: 16vh;
                    justify-content: center;
                    display:flex;
                    align-items:center">
            {% if pg.rotation == 0 %}
                <img class="img-thumbnail thumbnail0"
                     src="{% url 'scan_get_thumbnail' timestamp pg.order %}">
            {% elif pg.rotation == 180 %}
                <img class="img-thumbnail thumbnail180"
                     src="{% url 'scan_get_thumbnail' timestamp pg.order %}">
            {% elif pg.rotation == 90 %}
                <img class="img-thumbnail thumbnail90"
                     src="{% url 'scan_get_thumbnail' timestamp pg.order %}">
            {% elif pg.rotation == -90 or pg.rotation == 270 %}
                <img class="img-thumbnail thumbnail270"
                     src="{% url 'scan_get_thumbnail' timestamp pg.order %}">
            {% else %}
                <p>Oh snap, rotation code broke&mdash;report a bug!</p>
            {% endif %}
        </div>
    </a>
</div>
<div class="card-footer">{{ pg.order }}</div>
