<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Natalie Balashov
    Copyright (C) 2023 Colin B. Macdonald
-->
<div class="container p-0 m-2" id="navFragment">
    <div class="row">
        <div class="col-8">
            {% include "Scan/fragments/nav_bundle_left_right.html" %}
            <div class="row p-2 justify-content-center">
                <div style="height: 50vw;
                            width: 50vw;
                            justify-content: center;
                            display:flex;
                            align-items:center">
                    <img class="shadow rounded"
                         src="{% url 'scan_get_image' timestamp index %}"
                         style="max-height:100%;
                                max-width: 100%;
                                transform:rotate(calc(-1 * {{ current_page.rotation }}deg))" />
                </div>
            </div>
            {% include "Scan/fragments/nav_bundle_left_right.html" %}
        </div>
        <div class="col-4 w-25">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Page {{ index }} of {{ total_pages }}</h5>
                    <p class="card-text">
                        {% if current_page.status == 'known' %}
                            <div class="alert alert-success">
                                <h6 class="alert-heading">Known</h6>
                                <ul>
                                    <li>paper: {{ current_page.info.paper_number }}</li>
                                    <li>page: {{ current_page.info.page_number }}</li>
                                    <li>version: {{ current_page.info.version }}</li>
                                    <li>rotation: {{ current_page.rotation }}</li>
                                    <li>
                                        {{ current_page.qr_codes|length }} qr-codes read:
                                        <ul>
                                            {% for crn, code in current_page.qr_codes.items %}<li>{{ crn }}: {{ code.tpv }}</li>{% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            {% if is_pushed %}
                            {% else %}
                                <div>
                                    <p>Rotate Image:</p>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate counter-clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_ccw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-counterclockwise fs-5"></i>
                                    </a>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_cw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-clockwise fs-5"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-danger text-center w-100 mb-3"
                                       hx-post="{% url 'discard_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to discard this known page?">Discard</a>
                                </div>
                            {% endif %}
                        {% elif current_page.status == 'extra' %}
                            <div class="alert alert-info">
                                <h6 class="alert-heading">Extra</h6>
                                <ul>
                                    <li>paper: {{ current_page.info.paper_number }}</li>
                                    <li>question(s): {{ current_page.info.question_list }}</li>
                                    <li>rotation: {{ current_page.rotation }}</li>
                                    {% if current_page.qr_codes %}
                                        <li>
                                            {{ current_page.qr_codes|length }} qr-codes read:
                                            <ul>
                                                {% for crn, code in current_page.qr_codes.items %}<li>{{ crn }}: {{ code.tpv }}</li>{% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li>No qr-codes read</li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% if is_pushed %}
                            {% else %}
                                <div>
                                    <p>Rotate Image:</p>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate counter-clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_ccw' timestamp index %}">
                                        <i class="bi-arrow-counterclockwise fs-5"></i>
                                    </a>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_cw' timestamp index %}">
                                        <i class="bi-arrow-clockwise fs-5"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-danger text-center w-100 mb-3"
                                       hx-post="{% url 'discard_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to discard this extra page?">Discard</a>
                                </div>
                                {% if current_page.info.paper_number and current_page.info.question_list %}
                                    <div>
                                        <a class="btn btn-danger text-center w-100 mb-3"
                                           hx-delete="{% url 'extralise_image' timestamp index %}"
                                           hx-confirm="Are you sure you wish to clear the extra page information?">
                                            Clear information
                                        </a>
                                    </div>
                                {% else %}
                                    <div class="alert alert-secondary">
                                        <h6>Set extra page information</h6>
                                        <form hx-post="{% url 'extralise_image' timestamp index %}"
                                              hx-target="#invalidmessage"
                                              hx-swap="innerHTML">
                                            <div class="input-group p-3">
                                                <div x-data="{bundlepapers: true}">
                                                    Paper:
                                                    <div class="form-check">
                                                        <input name="bundleOrArbitrary"
                                                               class="form-check-input"
                                                               type="checkbox"
                                                               x-bind:value="bundlepapers"
                                                               id="bundlepapers"
                                                               x-model="bundlepapers">
                                                        <label class="form-check-label" for="bundlepapers">from this bundle</label>
                                                    </div>
                                                    <div x-show="bundlepapers">
                                                        <select name="bundlePaper"
                                                                class="form-select"
                                                                aria-label="Default select example">
                                                            <option selected>Paper from bundle</option>
                                                            {% for pn in bundle_paper_numbers %}<option value="{{ pn }}">{{ pn }}</option>{% endfor %}
                                                        </select>
                                                    </div>
                                                    <div x-show="!bundlepapers">
                                                        <select name="arbitraryPaper"
                                                                class="form-select"
                                                                aria-label="Default select example">
                                                            <option selected>any produced paper</option>
                                                            {% for pn in all_paper_numbers %}<option value="{{ pn }}">{{ pn }}</option>{% endfor %}
                                                        </select>
                                                    </div>
                                                    Questions:
                                                    <div x-data="{allq: false}">
                                                        <div class="form-check">
                                                            <input name="questionAll"
                                                                   value="all"
                                                                   class="form-check-input"
                                                                   type="checkbox"
                                                                   id="questionall"
                                                                   x-model="allq">
                                                            <label class="form-check-label" for="questionall">all questions</label>
                                                        </div>
                                                        <div x-show="!allq" x-transition>
                                                            {% for ql in question_labels %}
                                                                <div class="form-check">
                                                                    <input name="questions"
                                                                           class="form-check-input"
                                                                           type="checkbox"
                                                                           value="{{ forloop.counter }}"
                                                                           id="{{ ql }}">
                                                                    <label class="form-check-label" for="{{ ql }}">Index: {{ ql }}</label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">Set data</button>
                                        </form>
                                    </div>
                                    <div class="py-4" id="invalidmessage"></div>
                                {% endif %}
                            {% endif %}
                        {% elif current_page.status == 'unknown' %}
                            <div class="alert alert-warning">
                                <h6 class="alert-heading">Unknown</h6>
                                <ul>
                                    <li>No qr-codes could be read</li>
                                </ul>
                            </div>
                            {% if is_pushed %}
                            {% else %}
                                <div>
                                    <p>Rotate Image:</p>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate counter-clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_ccw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-counterclockwise fs-5"></i>
                                    </a>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_cw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-clockwise fs-5"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-danger text-center w-100 mb-3"
                                       hx-post="{% url 'discard_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to discard this unknown page?">Discard</a>
                                </div>
                                <div>
                                    <a class="btn btn-warning text-center w-100 mb-3"
                                       hx-put="{% url 'extralise_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to set this unknown page as an extra page?">
                                        Cast to extra page
                                    </a>
                                </div>
                            {% endif %}
                        {% elif current_page.status == 'discard' %}
                            <div class="alert alert-dark">
                                <h6 class="alert-heading">Discard</h6>
                                <ul>
                                    <li>{{ current_page.info.reason }}</li>
                                    <li>rotation: {{ current_page.rotation }}</li>
                                </ul>
                            </div>
                            {% if is_pushed %}
                            {% else %}
                                <div>
                                    <a class="btn btn-warning text-center w-100 mb-3"
                                       hx-put="{% url 'extralise_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to set this unknown page as an extra page?">
                                        Cast to extra page
                                    </a>
                                </div>
                            {% endif %}
                        {% elif current_page.status == 'error' %}
                            <div class="alert alert-danger">
                                <h6 class="alert-heading">Error</h6>
                                <ul>
                                    <li>{{ current_page.info.reason }}</li>
                                    <li>rotation: {{ current_page.rotation }}</li>
                                    <li>
                                        {{ current_page.qr_codes|length }} qr-codes read:
                                        <ul>
                                            {% for crn, code in current_page.qr_codes.items %}<li>{{ crn }}: {{ code.tpv }}</li>{% endfor %}
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                            {% if is_pushed %}
                            {% else %}
                                <div>
                                    <p>Rotate Image:</p>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate counter-clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_ccw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-counterclockwise fs-5"></i>
                                    </a>
                                    <a class="btn btn-secondary text-center mb-3"
                                       data-bs-toggle="tooltip"
                                       data-bs-placement="top"
                                       title="Rotate clockwise"
                                       style="width: 49%"
                                       hx-post="{% url 'rotate_img_cw' timestamp index %}"
                                       hx-swap="outerHTML"
                                       hx-target="#navFragment">
                                        <i class="bi-arrow-clockwise fs-5"></i>
                                    </a>
                                </div>
                                <div>
                                    <a class="btn btn-danger text-center w-100 mb-3"
                                       hx-post="{% url 'discard_image' timestamp index %}"
                                       hx-confirm="Are you sure you wish to discard this error page? We do not generally recommend doing this since error pages tend to indicate larger scanning problems.">
                                        Discard
                                    </a>
                                </div>
                            {% endif %}
                        {% elif current_page.status == 'unread' %}
                            <div class="alert alert-dark">
                                <h6 class="alert-heading">Unread</h6>
                                <ul>
                                    <li>Have not read qr-codes yet</li>
                                </ul>
                            </div>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
	var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
	var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
		return new bootstrap.Tooltip(tooltipTriggerEl)
	});
</script>
