<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Edith Coates
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Andrew Rechnitzer
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% block title %}
    Web Plom - Scan
{% endblock title %}
{% block page_heading %}
    Scan bundles
{% endblock page_heading %}
{% block main_content %}
    <div class="d-grid gap-2">
        <div class="card w-50">
            <div class="card-body">
                <h5>Summary of pushed papers:</h5>
                <div class="row">
                    <div class="col">
                        <p class="text-success">{{ complete_test_papers }} / {{ total_papers }} complete test papers</p>
                    </div>
                    <div class="col">
                        <p class="text-secondary">{{ unused_test_papers }} / {{ total_papers }} unused test papers</p>
                    </div>
                    <div class="col">
                        {% if incomplete_test_papers == 0 %}
                            <p class="text-success">all used papers complete</p>
                        {% else %}
                            <p class="text-danger">
                                <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                                {{ incomplete_test_papers }} incomplete test paper(s)
                                <i class="bi bi-exclamation-diamond-fill text-danger"></i>
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-success" href="{% url 'scan_summary' %}">View Details</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Upload bundle PDF</h5>
                <details style="margin-bottom: 10px;">
                    <summary>Dummy help text!</summary>
                    <p>
                        <ul>
                            <li>Upload scanned tests here.</li>
                            <li>Plom will read the QR codes and find problems if there are any.</li>
                        </ul>
                    </p>
                </details>
                <form enctype="multipart/form-data"
                      method="post"
                      action="{% url 'scan_home' %}">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit"
                           class="btn"
                           value="Upload"
                           style="background-color: #0F984F;
                                  color: white">
                </form>
            </div>
        </div>
        <br>
        <div>
            <div class="row" style="margin-right: 0.1px;">
                <div class="col border">
                    <div>
                        <h5>{{ staged_bundles|length }} Staged Bundles</h5>
                        <div class="d-grid gap-2">
                            {% if staged_bundles %}
                                {% for bundle in staged_bundles %}
                                    <div hx-get="{% url 'scan_get_staged_bundle_fragment' bundle.timestamp %}"
                                         hw-swap="innerHTML"
                                         hx-trigger="load"
                                         id="bundle{{ bundle.slug }}"></div>
                                {% endfor %}
                            {% else %}
                                <h6>No bundles uploaded yet.</h6>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col border">
                    <div>
                        <h5>{{ pushed_bundles|length }} Pushed Bundles</h5>
                        {% if pushed_bundles %}
                            <div class="d-grid gap-2">
                                {% for bundle in pushed_bundles %}
                                    <div class="card"
                                         style="min-width: fit-content;
                                                max-width: 90%;
                                                height:100%">
                                        <div class="card-body d-flex flex-row p-0">
                                            <img src="{% url 'scan_get_thumbnail' bundle.timestamp 1 %}"
                                                 class="border rounded-start"
                                                 style="max-height: 16em;
                                                        transform:rotate(calc(-1 * {{ bundle.cover_angle }}deg))">
                                            <div class="p-2">
                                                <h5 class="card-title">{{ bundle.slug }}.pdf</h5>
                                                <ul class="list-unstyled">
                                                    <li>Total pages: {{ bundle.pages }}</li>
                                                </ul>
                                                <a class="btn"
                                                   href="{% url 'scan_bundle_thumbnails' bundle.timestamp %}"
                                                   style="background-color: #0F984F;
                                                          color: white">View</a>
                                                <a class="btn btn-secondary"
                                                   target="_"
                                                   href="{% url 'scan_get_bundle' bundle.timestamp %}">Download</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="d-grid gap-2">
                                <h6>No bundles pushed yet.</h6>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock main_content %}
