<!-- Copyright (C) 2022-2023 Edith Coates -->
{% extends 'base/base.html' %}
{% block title %}Web Plom - Progress{% endblock %}
{% block page_heading %}Scanning progress{% endblock %}
{% block main_content %}
    <div class="container-fluid pe-4">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        {% if curr_page == "overview" %}
                            <a class="nav-link active" href="{% url 'progress_scan_overview' %}">Overview</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_overview' %}">Overview</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if curr_page == "bundles" %}
                            <a class="nav-link active" href="{% url 'progress_scan_bundles' %}">Bundles</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_bundles' %}">Bundles</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if curr_page == "unknown_page" %}
                            <a class="nav-link active" href="{% url 'progress_scan_unknown' %}">Unknown pages</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_unknown' %}">Unknown pages</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if curr_page == 'error_page' %}active{% endif %}"
                           href="{% url 'progress_scan_error' %}">
                            Error pages
                            {% if n_error %}({{ n_error }}){% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        {% if curr_page == "extra" %}
                            <a class="nav-link active" href="{% url 'progress_scan_extra' %}">Extra pages</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_extra' %}">Extra pages</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if curr_page == 'discarded' %}active{% endif %}"
                           href="{% url 'progress_scan_discarded' %}">
                            Discarded pages
                            {% if n_discarded %}({{ n_discarded }}){% endif %}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                {% block main_card_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
