{% extends 'Progress/scan_base.html' %}
{% block title %}Web Plom - Progress{% endblock %}
{% block page_heading %}Scanning progress{% endblock %}
{% block main_card_content %}
    <div class="row ps-5 pe-5">
        {% if error_pages %}
            <h5>Error pages: {{ n_error }}</h5>
            <div class="card" style="max-height: 60vh;">
                <div class="card-body overflow-auto">
                    <table class="table table-striped">
                        {% comment %} make this sticky {% endcomment %}
                        <thead>
                            <tr>
                                <th scope="col">Paper number</th>
                                <th scope="col">Page number</th>
                                <th scope="col">Question version</th>
                                <th scope="col">Image file</th>
                                <th scope="col">Flagged by</th>
                                <th scope="col">Comment</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for error_page in error_pages %}
                                <tr>
                                    <td>{{ error_page.test_paper }}</td>
                                    <td>{{ error_page.page_number }}</td>
                                    <td>{{ error_page.version }}</td>
                                    <td>{{ error_page.file_name }}</td>
                                    <td>{{ error_page.flagged }}</td>
                                    <td style="width: 15%;">{{ error_page.comment }}</td>
                                    <td>
                                        <a class="btn btn-primary"
                                           hx-get="{% url 'progress_error_modal' error_page.test_paper error_page.page_number error_page.error_hash %}"
                                           hx-swap="afterend">View</a>
                                        <a class="btn btn-danger">Replace</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% else %}
            <h3>No error pages to handle.</h3>
        {% endif %}
    </div>
{% endblock %}
