{% extends 'Progress/scan_base.html' %}
{% block title %}Web Plom - Progress{% endblock %}
{% block page_heading %}Scanning progress{% endblock %}
{% block main_card_content %}
    <div class="row ps-5 pe-5">
        <h5>Colliding pages: {{ n_colliding }}</h5>
        <div class="card" style="max-height: 50vh;">
            <div class="card-body overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Paper number</th>
                            <th scope="col">Page number</th>
                            <th scope="col">Question version</th>
                            <th scope="col">Original bundle</th>
                            <th scope="col">Colliding bundle</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in colliding_pages %}
                            <tr>
                                <td>{{ page.test_paper }}</td>
                                <td>{{ page.number }}</td>
                                <td>
                                    {% if page.version %}
                                        {{ page.version }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                                <td></td>
                                <td></td>
                                <td>
                                    <div class="hstack gap-2">
                                        <a class="btn btn-primary"
                                           hx-get="{% url 'progress_colliding_modal' page.test_paper page.number page.colliding_hash %}"
                                           hx-swap="afterend">View</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
