{% extends 'Progress/scan_base.html' %}
{% block title %}Web Plom - Progress{% endblock %}
{% block page_heading %}Scanning progress{% endblock %}
{% block main_card_content %}
    <div class="row ps-5 pe-5">
        <h5>Discarded pages: {{ n_discarded }}</h5>
        <div class="card" style="max-height: 50vh;">
            <div class="card-body overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Previous type</th>
                            <th scope="col">Bundle</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for page in discarded_pages %}
                            <tr>
                                <td>{{ page.previous_type }}</td>
                                <td></td>
                                <td>
                                    <div class="hstack gap-2">
                                        <a class="btn btn-primary"
                                           hx-get="{% url 'progress_discarded_modal' page.discarded_hash %}"
                                           hx-swap="afterend">View</a>
                                        <a class="btn btn-danger"
                                           hx-delete="{% url 'progress_delete_discarded' page.discarded_hash %}"
                                           hx-confirm="Are you sure? A deleted image cannot be recovered.">Delete</a>
                                        <a class="btn btn-primary"
                                           hx-post="{% url 'progress_restore_discarded' page.discarded_hash %}"
                                           hx-confirm="Are you sure?">Restore</a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
